
<div id="questions_div">

<p>
    To vote, follow these steps:
<p>
    
<ol>
    <li> <b>Select</b> your preferred options.</li>
<br />

    <li> <b>Review</b> your choices, which are then encoded (i.e.,encrypted).</li>
<br />

    <li> <b>Submit</b> your encoded (i.e.,encrypted) ballot and login/authenticate to verify your eligibility and ensure you are a valid voter.</li>

</ol>

<div align="center"><button class="button_class" onclick="BOOTH.show_question(0);">Start</button></div>
</div>

<p>
  <a class="button_class" target="_new" href="mailto:{$T.election_metadata.help_email}?subject=help%20with%20election%20{$T.election.name}&body=I%20need%20help%20with%20election%20{$T.election.uuid}">Email for Help</a>
</p>

